name: Build

on:
  workflow_call:
    inputs:
      release:
        description: If the executable should be put on release
        required: true
        type: boolean
        default: false


jobs:
  build:

    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      # - name: Setup Bun
      #   uses: oven-sh/setup-bun@v2.0.2

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
          sudo apt-get install -y libgtk-3-dev g++ pkg-config libx11-dev libasound2-dev libudev-dev libxkbcommon-x11-0 clang cmake gcc libvulkan-dev mesa-vulkan-drivers vulkan-tools

      - name: Install frontend dependencies
        run: bun install

      - name: Build
        if: inputs.release == false
        uses: tauri-apps/tauri-action@v0.6.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: ${{ matrix.args }}

      - name: Build and release
        if: inputs.release == true
        uses: tauri-apps/tauri-action@v0.6.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: v__VERSION__
          releaseName: v__VERSION__
          releaseBody: See the assets to download this version and install
          releaseDraft: true
          prerelease: false
          args: ${{ matrix.args }}