name: Build

on:
  workflow_call:
    inputs:
      release:
        description: If the executable should be put on release
        required: true
        type: boolean
        default: false


jobs:
  build:

    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2.0.2

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies
        run: |
          winget update --all

      - name: Install frontend dependencies
        run: bun install

      - name: Build
        if: inputs.release == false
        uses: tauri-apps/tauri-action@v0.6.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: ${{ matrix.args }}

      - name: Build and release
        if: inputs.release == true
        uses: tauri-apps/tauri-action@v0.6.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: v__VERSION__
          releaseName: v__VERSION__
          releaseBody: See the assets to download this version and install
          releaseDraft: true
          prerelease: false
          args: ${{ matrix.args }}